/* UTILS */
.muted {
    opacity: .4;
}

/* COLORS */
/* green #80c424 */

.text-white * {
    color: #fff;
}
.text-green, .text-green * {
    color: #4daf51;
}
.text-yellow, .text-yellow * {
    color: #ff9700;
}

/* NAV */
.navbar-light {
    background: #fff;
}

.navbar .service-menu > .nav-link{
    background: #80c424;
    color: #fff;
    border-radius: 4px;
}
 .logo img{
    width: 90%;
}

/* STAT PANEL */
.stat-panel {
    background: #80c424;
}
.stat-panel .recommended:after {
    content: '%';
}
.stat-panel .fa {
    font-size: .8em;
}
.stat-item h2{
    color: #FFF;
    font-size: 3em;
    font-weight: 700;
}
.stat-item p {
    font-size: .8em;
    color: #fff;
}
.stat-item p i {
    color: #007236;
}

/* PROJECT PANEL */
.project-select-panel {
    background: #323232;
}
.project-select-panel h1 {
    color: #80c424;
}
.triangle-section {
    margin-top: -220px;
}
.triangle-section p {
    margin-top: -62px;
    font-size: 5em;
    color: #323232;
}



/* 
.violet {
    background: #3f51b5;
}
.blue {
    background: #2197f4;
}
.red {
    background: #f44236;
}
.green {
    background: #4daf51;
}
.fuschia {
    background: #bf55ec;
}
.orange {
    background: #ff9700;
}
.burgundy {
    background: #db0a5b;
}
.teal {
    background: #607d8c;
} */

.project-item h5, .project-item div {
    color: #222;
}
.project-item {
    background: #eeeeee;
    border-radius: 0;
    border: 0;
}
.project-item h5 {
    font-size: 1em;
}
.project-item h5 span {
    display: block;
}

.project-panel .row > div {
    margin-bottom: 1em;
}
.service-sale {
    background: #f44236;
    border-radius: 50%;
    height: 46px;
    width: 46px;
}
.service-sale p {
    font-size: 10px;
    color: #fff;
    margin: 10px;
    padding-top: 5px;
}

.service-panel {
    background: #404040;
}
.service-panel .service-text {
    font-size: 1.4em;
}

/* WORKFLOW PANEL */
.workflow-panel {
    background: #eeeeee;
}
.workflow-items .card {
    border: none;
    height: 100%;;
}
.floating-step {
    background: #4daf51;
    color: #fff;
    position: absolute;
    padding: 0 .2em;
    font-size: 3em;
    font-weight: 700;
    right: 10px;
    top: -30px;
}
.floating-step span {
    position: relative;
}


/* TESTIMONIALS */
.map-bg {
    background: url('img/map.png') no-repeat center center;
}

/* FOOTER */

.footer-panel {
    background: #323232;
}
.footer-panel .footer-links li {
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding-bottom: 6px;
}

.footest-panel {
    background: #252525;
}
.footest-panel p {
    color: #fff;
}